
<section id="expertise">
	<div class="expertise-details">
		<h2>Мой опыт</h2>
		<p>
			Опыт из шишек на лбу светит, как Фаросский маяк. Если есть грабли, то скорее всего я уже стою 				на них.) По мере работы приходилось знакомиться с различными технологиями и направлениями 				(вроде Backend, Frontend, Machine Learning, Computer Vision). И это прекрасный опыт. Но 			обратная сторона такого авантюризма, на мой взгляд, что очень страшно назвать себя докой в 				той или иной области. Но положительная сторона в кругозоре и знании, где лучше свернуть и 				что-когда выбрать. Я всегда болезненно ощущаю себя, когда не имею понятия о том, что 				происходит под капотом, как циркулирует работа приложения с маковки и до пят. Мне важно 			знать и чувствовать, как работают мои товарищи. Не важно, пишут ли они базу, или сидят на 				бэке, или пишут frontend. Если я не чувствую - мне некомфортно. Собственно, эти черты 				характера и стали причиной того, кем я стал)   
		</p>
	</div>

	<div class="tools">
		<div class="tech">
			<h2>Backend</h2>
			<img class="expertise-img" src="assets/fonts/python.png"/>
			<img class="expertise-img" src="assets/fonts/c-sharp.png"/>
			<img class="expertise-img" src="assets/fonts/postgresql.png"/>
			<img class="expertise-img" src="assets/fonts/nodejs.png"/>
			<p>
				Уверенно чувствую себя с C#. Знаний Python и C++ хватает, чтобы 				уверенно работать с OpenCv, оптимизировать тяжеловестную логику и привязывать 					dll к view на С#. Python использую для написания неронных сетей. Но предпочитаю 				писать через js-фреймворки (Express Js, Feathers Js). Для баз данных использовал 					Mongo и Postgres, Sequelize.		
			</p>
		</div>
		<div class="tech">
			<h2>Frontend</h2>
			<img class="expertise-img" src="assets/fonts/js.png"/>
			<img class="expertise-img" src="assets/fonts/react.png"/>
			<img class="expertise-img" src="assets/fonts/angularjs.png"/>
			<img class="expertise-img" src="assets/fonts/webpack.png"/>
			<p>
				На данный момент работаю с WPF. В опыте был первый Angular и Angular2.
				Недавно познакомился с React, Redux Saga. В вёрстке я слабоват, но я стараюсь.
			</p>
		</div>
		<div class="tech">
			<h2>Инструменты</h2>
			<img class="expertise-img" src="assets/fonts/ubuntu.png"/>
			<img class="expertise-img" src="assets/fonts/docker.png"/>
			<img class="expertise-img" src="assets/fonts/git.png"/>
			<img class="expertise-img" src="assets/fonts/visual-studio.png"/>
			<p>
				Предпочитаю работать в Ubuntu, постоянно использую Docker. Вот сейчас через vim я 					пишу эти строки. Инструментов очень много. Всех не перечислишь.
			</p>
		</div>

	</div>
</section>
