<section id="section2" class="flex-wrapper">
		<div id="interests">
			<h2 class="headers">Мои интересы</h2>
		</div>		
		<div class="flex-grid">
			<div class="d-col-3 t-col-6 m-col-12">
				<img class="img" src="assets/img/fullstack.png">
				<p class="img-caption">Full Stack</p>
			</div><!-- /.d-col-3 .t-col-6 .m-col-12 -->
			
			<div class="d-col-3 t-col-6 m-col-12">
				<img class="img" src="assets/img/vision.png">
				<p class="img-caption">Компьтерное зрение</p>
			</div><!-- /.d-col-3 .t-col-6 .m-col-12 -->
			
			<div class="d-col-3 t-col-6 m-col-12">
				<img class="img" src="assets/img/c.png">
				<p class="img-caption">C#/C++</p>
			</div><!-- /.d-col-3 .t-col-6 .m-col-12 -->
			
			<div class="d-col-3 t-col-6 m-col-12">
				<img class="img" src="assets/img/nets.png">
				<p class="img-caption">Неронные сети</p>
			</div><!-- /.d-col-3 .t-col-6 .m-col-12 -->
		
			<div class="d-col-3 t-col-6 m-col-12">
				<img class="img" src="assets/img/isc.png">
				<p class="img-caption">Искусство</p>
			</div><!-- /.d-col-3 .t-col-6 .m-col-12 -->
			
			<div class="d-col-3 t-col-6 m-col-12">
				<img class="img" src="assets/img/literature.png">
				<p class="img-caption">Учиться новому</p>
			</div><!-- /.d-col-3 .t-col-6 .m-col-12 -->

		</div><!-- /.flex-grid -->
</section>
