<section id="section1">
<div class="header">
		      <h1>
			<span class="site-title">Гордеев Максим</span>
			<span class="site-description">FullStack developer</span>
		      </h1>
		      <div class="header-icons">
			<a aria-label="Send email" href="mailto:maksim.gordeew2012@yandex.com"><i class="icon fa fa-envelope"></i></a>
			<a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/maxxim_gordeev/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
			<!--<a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/"><i class="icon fa fa-facebook" aria-hidden="true"></i></a> -->
			<a aria-label="My Vk" target="_blank" href="https://www.vk.com/max_yandex"><i class="icon fa fa-vk" aria-hidden="true"></i></a>
			<a aria-label="My Github" target="_blank" href="https://github.com/Doctor-Wh0"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
		      </div>
		      <div class="header-links">
			<!-- <a class="link" href="#about" data-scroll>About Me</a> -->
		      </div>
		  </div>

</section>
